.alert{
animation: popup 0.5s ;
padding: 0.5em;
border-radius: 3px;
}


@keyframes popup {
    0%{
      transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
      }
  }